/*  google fonts */
@import url("https://fonts.googleapis.com/css?family=Amaranth|Bad+Script|Sigmar+One");

/* global variables */
:root {
  --mainColor: #1a1a1b;
  --mainGrey: #ece8dc;
  --mainBrown: #31080c;
  --secBrown: #cec19b;
  --triBrown: #af9034;
  --mainYellow: #775c0b;
  --mainCoffee: #473603;
  --mainWhite: #e9ecef;
  --mainDark: #2e2e35;

  --mainTransition: all 0.3s ease-in-out;
}

/* default setup   */
body {
  background: var(--mainWhite);
  color: var(--mainBrown);
  font-family: "Amaranth", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sigmar+One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  letter-spacing: 0.25rem !important;
}
.text-yellow {
  color: var(--mainYellow);
}
/* default background */

.default-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-background,
.about-background,
.not-found-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(
    rgba(235, 240, 236, 0.9),
    rgba(235, 240, 236, 0.8)
  ); */
}
/* about page */
.about-background {
  min-height: 60vh;
}
/* not-found-bg */
.not-found-bg {
  flex-direction: column;
  min-height: 77vh;
}

/* pop cart  */

.cart-icon {
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--mainYellow);
  position: fixed;
  z-index: 10;
  right: 5%;
  top: 20%;
  background: var(--mainDark);
  padding: 10px;
  border-radius: 10px;
}
.cart-icon:hover {
  background: var(--mainWhite);
  color: var(--mainYellow);
  transform: scale(1.4);
  transition: var(--mainTransition);
}
/* about button */
.about-btn {
  color: var(--mainDark);
  background: var(--mainWhite);
  border-color: var(--mainDark);
  padding: 10px 50px !important;
  font-size: "Bad+Script", fantasy !important;
}
.about-btn:hover {
  background: var(--mainDark);
  color: var(--mainWhite);
  border-color: var(--mainDark);
}

/* product section  */
.product-section:hover {
  /* filter: brightness(90%); */
  background: var(--triBrown);
  cursor: pointer;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  transform: scale(1.02);
  transition: var(--mainTransition);
  z-index: 120;
}

/* product sell  */
.product-fade {
  border-radius: 20px !important;
}
.fix-flex {
  flex-direction: column !important;
}

/* media query */

@media (max-width: 800px) {
  .cart-icon {
    top: 25%;
  }
  .product-btn {
    max-width: 200px !important;
  }
}

@media (max-width: 350px) {
  .section-menu {
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
