/*  google fonts */
@import url('https://fonts.googleapis.com/css?family=Amaranth|Bad+Script|Sigmar+One');
:root{
  --mainColor:#1a1a1b;
  --mainGrey:#ece8dc;
  --mainBrown:#31080c;
  --mainYellow:#775c0b;
  --mainWhite:#e9ecef;
  --mainDark:#2e2e35;

}

body{
  background: var(--mainWhite);
  color: var(--mainBrown);
  font-family: 'Amaranth',sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Sigmar+One',fantasy !important;
  letter-spacing: 0.25rem !important;
}
.text-yellow{
  color: var(--mainYellow);
}

.cart-icon{
  cursor: pointer;;
  font-size: 1.5rem;
}
